<html lang="en" data-bs-theme="dark" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block header %}
        
    {% endblock header %}

       <title>
        {% block title %}
        {% endblock title %}
       </title> 

    {% load bootstrap5 %}
    {% bootstrap_css%}
    {% bootstrap_javascript%}

</head>


    
<body {% block customize %}{% endblock customize %}>
    
    {% block content %}
        
    {% endblock content %}

    
</body>
</html>